
    <%- include('partials/header.ejs') %>

    <%- include('partials/nav.ejs') %>
    
    <div class="formulario">
    
    <div class="formularioLuz">
    <form id="formularioLuz" action="/" method="post">
        <label for="numeroRecibo">Numero Recibo</label>
        <input type="number" name="numeroRecibo" id="numeroRecibo" required value="<%= numeroRecibo %>"> <br>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" required value="<%= nombre %>"> <br>
        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio" required value="<%= domicilio %>"> <br>
        <label for="tipoServicio">Tipo de Servicio</label>
        <select name="tipoServicio" id="tipoServicio" required>
            <option value="Domicilio" <%= tipoServicio === 'Domicilio' ? 'selected' : '' %>>Domestico</option>
            <option value="Comercial" <%= tipoServicio === 'Comercial' ? 'selected' : '' %>>Comercial</option>
            <option value="Industrial" <%= tipoServicio === 'Industrial' ? 'selected' : '' %>>Industrial</option>
        </select> <br>
        <label for="kilowattsConsumidos">Kilowatts Consumidos</label>
        <input type="text" name="kilowattsConsumidos" id="kilowattsConsumidos" required value="<%= kilowattsConsumidos %>"> <br>
        <button class="btn btn-primary mt-3" type="submit">Enviar Informacion</button>
        <a class="btn btn-primary mt-3" href="/" id="limpiar">Limpiar</a>
    </form>
    </div>
    
    </div>

    <%
    let precio = 0;
    if (tipoServicio == 'Domicilio') {
        precio = 1.08;
    } else if (tipoServicio == 'Comercial') {
        precio = 2.5;
    } else if (tipoServicio == 'Industrial') {
        precio = 3;
    }

    let subtotal = kilowattsConsumidos * precio;
    let descuento = 0;

    if (kilowattsConsumidos <= 1000) {
        descuento = subtotal * 0.10;
    } else if (kilowattsConsumidos > 1000 && kilowattsConsumidos <= 10000) {
        descuento = subtotal * 0.20;
    } else if (kilowattsConsumidos > 10000) {
        descuento = subtotal * 0.50;
    }

    let impuesto = subtotal * 0.16;

    let total = subtotal + impuesto - descuento;
    %>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Kiowatts Consumidos</th>
            <th scope="col">Costo por Kiowatts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= numeroRecibo %></td>
            <td><%= nombre %></td>
            <td><%= tipoServicio %></td>
            <td><%= kilowattsConsumidos %></td>
            <td><%= precio %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Subtotal:</td>
            <td><%= subtotal.toFixed(2) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Impuesto:</td>
            <td><%= impuesto.toFixed(2) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Descuento:</td>
            <td><%= descuento.toFixed(2) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total a pagar:</td>
            <td><%= total.toFixed(2) %></td>
          </tr>
        </tbody>
      </table>

    <%- include('partials/footer.ejs') %>
    <style>
        .formulario {
            padding: 20px;
            background-color: #6495ed;
            border-radius: 10px;
            margin: 20px auto;
            max-width: 500px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        .formularioLuz {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid #ced4da;
            margin-bottom: 20px;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            
        }
    
        th, td {
            border: 1px solid #ced4da;
            padding: 8px;
            text-align: left;
        }
    
        th {
            background-color: #e6f0ff; 
        }
        @media (max-width: 2000px) {
        .formulario {
            max-width: 100%;
            border-radius: 0;
            position: relative;
            align-items: center;
            text-align: center;
        }
    }
    </style>
</body>
</html>
